<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script th:src="@{js/script.js}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sekuya&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
</head>
<body>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="homeContainer">

    <div class="dashboardCard">

        <div class="dashboardHeader">

            <h1>User Management</h1>

            <div class="userCounter">
                <span th:text="${userCount}"></span>
                <p>Registered Users</p>
            </div>

        </div>

        <div class="userCard"
             th:each="user : ${users}">

            <div class="userHeader">

                <div>

                    <h2 th:text="${user.firstName + ' ' + user.lastName}"></h2>

                    <p>ID:
                        <span th:text="${user.id}"></span>
                    </p>

                </div>

                <a class="deleteBtn"
                   th:href="@{/deleteUser(id=${user.id})}">
                    Delete
                </a>

            </div>

            <div class="userInfo">

                <div>

                    <label>Username</label>

                    <p th:text="${user.username}"></p>

                </div>

                <div>

                    <label>Email</label>

                    <p th:text="${user.email}"></p>

                </div>

                <div>

                    <label>First Name</label>

                    <p th:text="${user.firstName}"></p>

                </div>

                <div>

                    <label>Last Name</label>

                    <p th:text="${user.lastName}"></p>

                </div>

                <div>

                    <label>Created</label>

                    <p th:text="${user.created_at}"></p>

                </div>

            </div>

        </div>

    </div>

</div>
</body>
</html>